<td class="mx-mark-cell"><%= mark %></td>
<td>{{column.physical_name}}</td>
<td>{{column.logical_name}}</td>
<td>{{column.data_type.name}}</td>
<td class="mx-numeric">{{column.size}}</td>
<td class="mx-numeric">{{column.scale}}</td>
<td class="mx-mark-cell">{{column.nullable)}}</td>
<td>{{column.default_value}}</td>
<td>{{column.comment}}</td>
<td></td>
