<div id="mx-table-change-matadata" class="mx-area">
  <table class="mx-defs">
    <tbody>
      <tr>
        <th><%= mx_label_for('change_summary') %></th>
        <td><%= text_area 'mx_table', 'change_summary', size: '70x8', 'v-model' => 'change_summary' %></td>
      </tr>
    </tbody>
  </table>
</div>
