.mx-grid {
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
}

.mx-grid td, .mx-grid th {
  padding: 7px;
  border: solid #d3d3d3 1px;
}

.mx-grid th {
  background-color: #eeeeee;
}

.mx-grid tbody tr:nth-child(even) {
  background-color: #f0f8ff;
}

.mx-grid tbody tr:hover {
  background-color: #ffffdd;
}

.mx-defs {
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  width: 100%;
}

.mx-defs th, .mx-defs td {
  padding: 7px;
  border: solid #d3d3d3 1px;
}

.mx-defs th {
  background-color: #eeeeee;
  width: 20%;
  vertical-align: top;
  text-align: left;
}

.mx-defs td {
  width: 80%;
}

.mx-section-caption {
  border-bottom: 1px dashed #d3d3d3;
}

.mx-mark-cell {
  text-align: center;
}

.mx-image-button {
  cursor: pointer;
}

.mx-fade {
  transition: opacity .3s;
}

.mx-fade.v-enter, .mx-fade.v-leave {
  opacity: 0;
}
